@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-google: "Google Sans Flex", sans-serif;
}

body {
  background-color: #080a09;
  color: #ececec;
  font-family: "Inter", sans-serif;
}
